<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>
  <% if current_user.token == nil %>
  <%= button_to 'Connect to GitHub', github_login_path, class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>

  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
    <div class="bookmarked">
      <% if current_user.user_videos.empty? %>
        <h4>You have no bookmarked videos right now</h4>
      <% else %>
        <% bookmarked_tutorials.each do |tutorial, videos| %>
          <h4><%= tutorial.values.first %></h4>
            <% videos.each do |video| %>
              <p><%= link_to "#{video.values.first}", "/tutorials/#{tutorial.keys.first}?video_id=#{video.keys.first}" %><br>
              </p>
            <% end %>
        <% end %>
      <% end %>
    </div>
  </section>
  <% if current_user.token != nil %>
    <div class="github_repos">
      <h1>GitHub</h1>
      <h3> <%= facade.header %></h3>
        <% facade.repos_top_five.each do |repo| %>
        <p class="repo-link">
        <%= link_to repo.name, repo.link  %><br/>
        </p>
      <% end %>
    </div>
    <div class="followers">
    <h1>Followers</h1>
      <% facade.followers.each do |follower| %>
      <p class="follower_link", id="follower_handle">
        <%=  link_to follower.handle, follower.link %>
        <% if defined?(follower) %>
        <a href=<%=  facade.in_database(follower)   %>> Add Friend </a>
        <% end %>
      <% end %>
    </div>
    <div class="following">
      <h1>Following</h1>
      <% facade.following.each do |f| %>
      <p class="following-handle", id="following-link"><%= link_to f.handle, f.link %></p>
        <% end %>
    </div>
  <% end %>
  <div class="friends">
    <h1>Friends</h1>
      <% facade.friends.each do |f| %>
      <div class="friend">
        <p class="friend-name"><%= f.first_name %>, <%= f.last_name %></p>
      </div>
      <% end %>
  </div>
</section>
